.row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}
        
.doboz{
    background: white;
    border: 1px solid #ddd;
    width: 300px;
    margin-bottom: 20px;
}
        
.doboz-kep{
    width: 100%;
    height: 320px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}
        
.doboz-tartalom {
    padding: 15px;
}
        
.doboz-cim {
    font-weight: bold;
    font-size: 20px;
}
        
.doboz-szoveg {
    margin-bottom: 15px;
    color: #555;
}
        
.doboz-gomb {
    padding: 8px 16px;
    background-color: #ffa200; /*valamilyen színt ki kell találni a gomboknak, mert ez nagyon tippmixpros beütésű*/
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    margin-left: 30px;
}
.doboz-gomb:hover {
    background-color: #e69500;
    color: white;
}
            
.doboz {
    width: 100%;
    max-width: 400px;
}
.tobb-info-gomb {
    background: #3498db;
    color: white;
    padding: 12px 30px;
    border-radius: 8px;
    margin-bottom: 15px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.tobb-info-gomb:hover {
    background: #2980b9;
    color: black;
}