
.left-container{
  border:12px solid green;
}



.footer {
  height: 60px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right_side {
            display: flex;
            align-items: center;
            gap: 15px;
        }
        
.lang-switcher {
            display: flex;
            gap: 8px;
        }
.page {
          min-height: 100vh;      
          display: flex;
          flex-direction: row;
        }
        
.page .container{
  border: 3px solid red;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page .container:nth-child(1){
  max-width: 15%;
}
.search{
  width: max-content;
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 28px;
  background-color:#f1eded;
}
.search-icon:hover{
cursor: pointer;
}
.search-input{
font-size: 14px;
font-family: 'Lexend', sans-serif;
color: #333333;
margin-left: 14px;  
}
.sidebar {
max-width: 15%;

}

.time-bar {
padding: 8px 12px;
font-size: 13px;
font-weight: 600;
background: linear-gradient(45deg, #08001f, #30197d);
color: #fff;
border-bottom: 1px solid #333;
display: flex;
align-items: center;
justify-content: center;
gap: 15px;
}

.label {
opacity: 0.7;
}
.sports-menu{

background-color: lightblue;
border-radius: 15px;
}
.level1{
margin-left: 15px;
}
@media (max-width: 768px){
  .page .container:nth-child(1), .page .container:nth-child(3){
      display: none;
  }
}