* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f4f4f4;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 70px;
  background: #212221;
  color: white;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 8px;
}
.kep{
  height: 40px;
  width: 40px;
  
}
.nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: large;
}
<<<<<<< Updated upstream
.registrationbtn{
  color: black;
  border-radius: 10px;
  background-color: rgb(221, 221, 24);
  height: 35px;
  border: none;
  font-weight: bold;  
  cursor: pointer;
  transition: opacity 0.5s;
}
.registrationbtn:hover{
  opacity: 0.8;
}
=======


>>>>>>> Stashed changes




.footer {
  height: 60px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}
