* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f4f4f4;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 70px;
  background: #212221;
  color: white;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 8px;
}
.kep{
  height: 40px;
  width: 40px;
  
}
.nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: large;
}






.footer {
  height: 60px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}
