*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(white, rgb(158, 158, 158));
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.regisztraciobtn{
    height: 50px;
    width: 130px;
    border-radius: 25px;
    border: none;
    background-color: yellow;
    color: black;
    cursor: pointer;
    transition: 2s;
}
.btn:hover{
    background-color: antiquewhite;
    
}

.inputok{
    height: 30px;
    width: 250px;
    padding-left: 10px;
    text-align: left;
    background-color: white;
}
.container{
    display: flex;
    justify-content: left;
    align-items: center;
    border: 1px solid blue;
    background: linear-gradient(90deg, rgb(65, 201, 247) 50%, white 50%);
}

.container form{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    gap: 20px;
}

input{
    border: 1px solid green;
}