body{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn{
    height: 50px;
    cursor: pointer;
}
.btnback{
    width: 80px;
    height: 40px;
    cursor: pointer;
    background-color: antiquewhite;
    border: none;
    border-radius: 20px;
}
#preview{
    max-width: 200px; 
    display: none; 
    margin-top:10px;
}